footer {
  background-color: #1D2951;
  flex-shrink: 0;
}
p.footer-text {
  padding-top: 10px;
  padding-left: 18px;
  font-weight: 400;
  color: #F0F8FF;
}
div.footer-music {
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}
