@import "header.css";
@import "footer.css";

@font-face {
  font-family: 'Lato', sans-serif;
  src:
    local('Lato')
    url("https://fonts.googleapis.com/css?family=Lato") format('truetype');
}

@media only screen and (min-width: 500px) {
  div.banner-text, div.social-media {
    width: 450px;
  }
  section.about-me-1, section.about-me-2 {
    max-width: 550px;
    width: 80%;
  }
  div.project {
    width: 80%;
  }
  div.project-description {
    width: 95%;
  }
  img.headshot {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  div.social-media, section.about-me-1, section.about-me-2 {
    width: 100%;
  }
  div.project {
    width: 95%;
  }
  div.project-description {
    width: 91%;
  }
  header, section.banner, footer {
    width: 500px;
  }
  img.headshot {
    width: 50%;
  }
}

/* General CSS */
html {
  height: 100%;
}
body {
  background-color: #F0F8FF;
  font-family: 'Lato', sans-serif;
  color: #292E37;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 1.6em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
h2 {
  font-size: 1.4em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}
h3 {
  font-size: 1.2em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-weight: 300;
}
h4 {
  font-size: 1.1em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-weight: 300;
}
h5 {
  font-size: 1em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-weight: 300;
}
h6 {
  font-size: 0.9em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-weight: 300;
}
p {
  font-size: 0.8em;
  -webkit-margin-before: 1.1em;
  -webkit-margin-after: 1.1em;
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/* Section CSS*/
section.sticky-footer {
  flex: 1 0 auto;
  margin-bottom: 10px;
}
section.banner {
  background-color: #1D2951;
  color: #F0F8FF;
  margin-bottom: 10px;
  width: 100%;
}
section.about-me-1 {
  margin: 0 auto;
}
section.about-me-2 {
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: #DCF8C6;
}
section.project {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: auto;
  overflow: auto;
}

/* Div CSS */
div.banner-text {
  padding-top: 15px;
  margin: 0 auto;
}
div.intro-text {
  width: 55%;
  padding-right: 10px;
}
div.intro-headshot {
  width: 45%;
  padding-left: 10px;
}
div.social-media {
  margin: 0 auto;
  margin-bottom: 5px;
}
div.social-media-text {
  margin-top: 20px;
}
div.social-media-icons {
  margin: 0 auto;
  width: 50%;
  padding-left: 40px;
}
div.who-am-i {
  width: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #F9D2BD;
}
div.about-me-title {
  text-align: center;
}
div.about-me-column {
  width: 45%;
  margin: 0 auto;
}
div.about-me-row {
  width: 90%;
}
div.skills {
  width: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #DCF0F7;
}
div.fun-facts {
  width: 100%;
}
div.project{
  margin-bottom: 10px;
  max-width: 700px;
}
div.project-image {
  min-height: 300px;
  background-image: url("/images/floating island.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
div.project-title {
  width: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #802135;
  color: #F0F8FF;
}
div.project-description {
  height: relative;
  margin-top: 10px;
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  background-color: white;
}

/* Additional CSS */
.container {
  display: inline-block;
  width: 100%;
  position: relative;
}
.row {
  white-space: nowrap;
  float: left;
  display: flex;
}
.row > div {
  display: inline-block;
  white-space : normal;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.centered-row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
.centered-row > div {
  display: inline-block;
  white-space : normal;
}
i.fab {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.social-media-blog {
  display: flex;
  white-space: nowrap;
  margin-top: 9px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 2px;
  font-weight: 400;
}
a.social-media {
  color: #F0F8FF;
}
a.link {
  color: #292E37;
  text-decoration: underline;
}
